@import "variables";

// Scrollbar

body {

  &::-webkit-scrollbar {
    width: 1.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $whiteColor;
    background-image: linear-gradient(315deg, $cherokeeColor 0%, $goldenrod-color 74%);
    outline: 1px solid $goldenColor;
    border-radius: 10px;
  }
}